body {
    margin: 0;
    padding: 0;
}

#container {
    padding-top: 2%;
    margin: auto;
    max-width: 1000px;
}

nav {
    display: flex;
    margin-left: 2%;
    width: 50%;
    align-self: baseline;
    p {
        text-indent: 1rem;
    }
}

h1 {
    margin: 1.5rem 0 0 0;
    width: 100%;
    font-size: 3rem;
}

h2 {
    margin-left: 1%;
}

h3 {
    margin-left: 2%;
}

p {
    font-size: 1.5rem;
    text-indent: 3rem;
}

.header {
    display: flex;
    padding: 1rem;
    align-items: center;
}

#left-header {
    flex-direction: column;
    width: 50%;
}

#right-header {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.links {
    top: 2%;
    right: 2%;
    text-align: right;
    padding-right: 1%;
    p {
        font-size: 1.5rem;
    }
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    font-weight: bold;
}

a img {
    width: 10%;
}

a img:hover {
    transform: scale(1.25);
}

#about {
    margin-top: 4%;
    font-size: 1.5rem;
}

.animatedParagraph {
    margin-left: 1%;
}

#enlarged-img {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    display: none;
}

#close {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(240, 0, 0);
}

#close:hover {
    transform: scale(1.25);
}

#large-screenshot {
    display: block;
    max-width:1400px;
    max-height:850px;
    width: auto;
    height: auto;
    top: 12%;
    position: absolute;
}

#skills {
    margin-top: 4%;
    font-size: 1.5rem;
    .grid-container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .grid-item {
            margin-left: 10%;
            border-left-style: solid;
            padding-left: 3%;
            font-size: 1.5rem;
        }
    }
}

#projects {
    margin-top: 8%;
    font-size: 1.5rem;
    .grid-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;

        .grid-item {
            width: 32%;
            margin: 0.5%;
            box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
            border-color: black;
            border: solid;
            cursor: pointer;
        }
    }
    .img-container {
        display: flex;
        justify-content: center;
        .image {
            width: 49%;
            margin: 0 0.5%;
            cursor: pointer;
            box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        }
    }
}

.caption {
    text-indent: 0;
    font-size: 1rem;
    text-align: center;
}

#resume {
    margin-top: 8%;
    font-size: 1.5rem;
}

#resume-img {
    width: 950px;
    margin-top: 2%;
}

#resume-heading {
    display: flex;
    width: 100%;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

#download {
    background-color: white;
    padding: 1% 1.2%;
    margin-left: 1%;
    font-size: 1.5rem;
    border: solid;
}

#download:hover {
    font-weight: bold;
    cursor: pointer;
    padding: 1% 0.7%;
    box-shadow: 1px 2px 2px;
}

/*
 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 700
 */

.roboto-mono-regular {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-mono-bold {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0 2%;
    }

    h1, h2, h3{
        font-size: x-large;
    }

    p {
        font-size: large;
        text-indent: 0.75rem;
    }

    .links {
        p {
            font-size: large;
        }
    }

    #skills {
        font-size: 1rem;
        .grid-container .grid-item {
            font-size: 1rem;
            align-content: center;
        }
    }

    #projects {
        .grid-container .grid-item {
            width: 45%;
        }
    }

    #resume {
        margin-bottom: 4%;
    }

    #download {
        font-size: 1rem;
    }

    #resume-img {
        display: none;
    }

    .links {
        text-align: right;
    }

    a img {
        width: 30%;
    }

    #email {
        display: none;
    }

    nav p {
        text-indent: 0.5rem;
    }

    #left-header {
        width: 75%;
    }
}